.svn
.hgsvn
ext/*
*.patch
.pmd
.fbprefs
Servers
.idea
.idea/
.project
.ruleset
#${*}
.classpath
.settings
*.iml
*.ipr
*.iws
activemq-data
target/
target
#bin
.metadata
.checkstyle
*.log
cobertura.ser
velocity.log*
opr-match/opr-match-trace-server/overlays/
lib_managed
*.log.*
build
*.log
solr/data
tomcat/logs
dist
tomcat*
content*
project/boot
.lib